!.gitignore
*.lock
*.lock.*
*.tfvars
**/.terraform/*
inventory.yml
**/.ssh/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
.terraformrc
terraform.rc
