[gh_actions_runner]
%{ for ip in ip_addrs ~}
${ip}
%{ endfor ~}

[gh_actions_runner:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=${ssh_keyfile}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
